<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Categoria">
    <select id="getAllCategorias" resultType="modelo.pojos.Categoria" statementType="CALLABLE">
        {CALL sag.sp_getAllCategorias()}
    </select>
    
    <insert id="registrarCategoria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_registrarCategoria(
            #{idCategoria, jdbcType=INTEGER,mode=IN},
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{activo, jdbcType=VARCHAR,mode=IN})}
    </insert>
    
    <update id="editarCategoria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarCategoria(
            #{idCategoria, jdbcType=INTEGER,mode=IN},
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{activo, jdbcType=VARCHAR,mode=IN})}
    </update>
    
    <update id="editarEstatusCategoria" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarEstatusCategoria(
            #{idCategoria, jdbcType=INTEGER,mode=IN},
            #{activo, jdbcType=VARCHAR,mode=IN})}
    </update>
</mapper>