<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Rancho">
    <select id="getAllRanchos" resultType="modelo.pojos.Rancho" statementType="CALLABLE">
        {CALL sag.sp_getAllRanchos()}
    </select>
    
    <select id="buscarRanchos" resultType="modelo.pojos.Rancho" parameterType="String" statementType="CALLABLE">
        {CALL sag.sp_buscarRanchos(#{busqueda, jdbcType=VARCHAR,mode=IN})}
    </select>
    
    <insert id="registrarRancho" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_registrarRancho(
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{direccion, jdbcType=VARCHAR,mode=IN},
            #{nombreEncargado, jdbcType=VARCHAR,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idUsuarioAlta, jdbcType=INTEGER,mode=IN})}
    </insert>
    
    <update id="editarRancho" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarRancho(
            #{idRancho, jdbcType=INTEGER,mode=IN},
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{direccion, jdbcType=VARCHAR,mode=IN},
            #{nombreEncargado, jdbcType=VARCHAR,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idUsuarioEditor, jdbcType=INTEGER,mode=IN})}
    </update>

    <update id="editarEstatusRancho" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarEstatusRancho(
            #{idRancho, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idUsuarioEditor, jdbcType=INTEGER,mode=IN})}
    </update>
</mapper>