<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario">
    <select id="getAllUsuarios" resultType="modelo.pojos.Usuario" statementType="CALLABLE">
        {CALL sag.sp_getAllUsuarios()}
    </select>
    
    <select id="getUsuariosByIdRancho" resultType="modelo.pojos.Usuario" parameterType="int" statementType="CALLABLE">
        {CALL sag.sp_getUsuariosByIdRancho(
            #{idRancho, jdbcType=INTEGER,mode=IN})}
    </select>
    
    <select id="buscarUsuarios" resultType="modelo.pojos.Usuario" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_buscarUsuarios(
            #{idRancho, jdbcType=INTEGER,mode=IN},
            #{busqueda, jdbcType=VARCHAR,mode=IN})}
    </select>
    
    <insert id="registrarUsuario" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_registrarUsuario(
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{apellidoPaterno, jdbcType=VARCHAR,mode=IN},
            #{apellidoMaterno, jdbcType=VARCHAR,mode=IN},
            #{celular, jdbcType=VARCHAR,mode=IN},
            #{usuario, jdbcType=VARCHAR,mode=IN},
            #{contrasena, jdbcType=VARCHAR,mode=IN},
            #{idRol, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idRancho, jdbcType=INTEGER,mode=IN},
            #{idUsuarioAlta, jdbcType=INTEGER,mode=IN})}
    </insert>
    
    <update id="editarUsuario" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarUsuario(
            #{idUsuario, jdbcType=INTEGER,mode=IN},
            #{nombre, jdbcType=VARCHAR,mode=IN},
            #{apellidoPaterno, jdbcType=VARCHAR,mode=IN},
            #{apellidoMaterno, jdbcType=VARCHAR,mode=IN},
            #{celular, jdbcType=VARCHAR,mode=IN},
            #{usuario, jdbcType=VARCHAR,mode=IN},
            #{contrasena, jdbcType=VARCHAR,mode=IN},
            #{idRol, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idRancho, jdbcType=INTEGER,mode=IN},
            #{idUsuarioEditor, jdbcType=INTEGER,mode=IN})}
    </update>

    <update id="editarEstatusUsuario" parameterType="map" statementType="CALLABLE">
        {CALL sag.sp_editarEstatusUsuario(
            #{idUsuario, jdbcType=INTEGER,mode=IN},
            #{idEstatus, jdbcType=INTEGER,mode=IN},
            #{idUsuarioEditor, jdbcType=INTEGER,mode=IN})}
    </update>
</mapper>
